<div class="container">
	 <h1>商品一覧</h1>
		<div class="card-deck">
			<div class="row ">
	
				<div class="col-sm-3">
					<div class="card h-100">
						<%= image_tag 'cake.jpg', :size => '320x240', class:"card-img-top p-2" %>
						<div class="card-body">
							<h5 class="card-title">商品名</h5>
							<h5 class="card-price">2,000,000,000</h5>
						</div>
					</div>
				</div>
				<% @products.each do |product| %>
				<div class="col-sm-3">
					<div class="card h-100">
						z<%= attachment_image_tag product, :image, :size => '320x240', class:"card-img-top p-2" %>
					</div>
					<div class="card-body">
						<h5 class="card-title"><%= product.title %></h5>
						<h5 class="card-price"><%= product.price %></h5>
					</div>
				</div>
				<% end %>
			</div>
		</div>
</div>
