<dev calss='container'>
  <div class='row'>
    <div class="col-md-3 mx-auto">
      <div class="card">
        <article>
          <div class="card-header">
            ジャンル
          </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">ケーキ</li>
          <li class="list-group-item">焼き菓子</li>
          <li class="list-group-item">プリン</li>
        </ul>

      </div>
    </div>
    <div class="col-md-8 mx-auto">
    	　<h1>商品一覧</h1>
      <div class="col-md-3" style="float:left">
        <div class="card  mb-3">
          <%= image_tag 'chees.jpg', class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">ケーキ</h5>
            <p class="card-text">詳細</p>
            <a href="#" class="btn btn-success">購入する</a>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="float:left">
        <div class="card mb-3">
          <img src="assets/cake3.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ケーキ</h5>
            <p class="card-text">詳細</p>
            <a href="#" class="btn btn-success">購入する</a>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="float:left">
        <div class="card mb-3">
          <img src="assets/cake3.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ケーキ</h5>
            <p class="card-text">詳細</p>
            <a href="#" class="btn btn-success">購入する</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-3">
          <img src="assets/cake3.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ケーキ</h5>
            <p class="card-text">詳細</p>
            <a href="#" class="btn btn-success">購入する</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-3">
          <img src="assets/cake3.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ケーキ</h5>
            <p class="card-text">詳細</p>
            <a href="#" class="btn btn-success">購入する</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>