<div calss='container'>
  <div class='row justify-content-center mx-auto my-auto'>
    <%= render 'admin/product_categories/categories', product_categories: @product_categories %>
    <div class="col-md-8 shadow rounded bg-light">
      <div class="container mb-3 mt-2">
        <h1 style="font-family: 'Kosugi Maru', sans-serif;"><strong>商品一覧</strong></strong></h1>
      </div>
			<%= render 'card', products: @products %>
      <div class="container mb-3 mt-3">
        <div class="row">
          <%= paginate @products %>
      	</div>
      </div>
    </div>
  </div>
  <div class="container p-5">
  </div>
</div>