// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-title{
  background-color: #e9ecef;
}

.order-box-title{
  font-weight: bold;
  margin-right: 10px;
}

.order-address-info{
  margin-left: 15px;
}

.form-order-new{
  text-align: center;
  margin-top: 15px;
}

.order-address{
  border-radius: 4px;
}

.order-info {
  display: flex;
}

.thanx{
  height: 100px;
  text-align: center;
  line-height: 100px;
}