<div style="background-img: none;">
<div class="container border-bottom">
    <div class="row">
      <div class="col-md-6 px-3 align-self-center mbr-white py-2">
        <h2 class="mbr-text testimonial-text mbr-fonts-style display-7">
          <span style="font-style: normal;"></span>
        </h2>
        <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-1" style="font-family: 'STIX Two Text', serif;">
          Nagano Cake
        </p>
        <p class="mbr-author-desc mbr-fonts-style display-7">
          Nagano Cakeは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションをご用意しております。
          また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>

      <figure class="col-md-6 figure pl-lg-5" style="width: 130%;">
        <%= image_tag 'about1.jpg', class: 'figure-img img-fluid rounded' %>
      </figure>
    </div>
</div>

<div class="container p-3 my-3">
  <h1 class="pb-3 mb-4" style="font-family: 'STIX Two Text', serif;">About Us</h1>
  <div class="row">
    <div class="col-md-4">
        <%= image_tag 'tomato.jpg', class: 'figure-img img-fluid rounded', style: "height: 400px;" %>
        <h2>素材</h2>
        <p>長野県内の素材を生かし、一から時間をかけてじっくり焼き上げております。</p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'chef.jpg', class: 'figure-img img-fluid rounded', style: "height: 400px;" %>
        <h2>熟練パティシエ</h2>
        <p>本場フランスで3年修行したシェフSuzuによる本場フランスの味を提供しております。</p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'about.jpg', class: 'figure-img img-fluid rounded', style: "height: 400px;" %>
        <h2>本場の味をお家で</h2>
        <p>出来立てを３日以内にお家にお届け！！本場の味をすぐにお家でお召し上がりいただけます。</p>
      </div>
  </div>
</div>
</div>