<!--注文情報確認画面-->
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <%# @cart_items.each do |cart_item| %>
      <tr>
        <th>
          <%# attachment_image_tag cart_item.product, :product_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %>
          <%# cart_item.product_name %>
        </th>
        <th>
          <%# cart_item.product.add_tax.to_s(:delimited) %>
        </th>
        <th>
          <%# cart_item.quantity %>
        </th>
        <th>
          <%# cart_item.total_price.to_s(:delimited) %>
        </th>
      </tr>
  </tbody>
</table>
<table>
  <tr>
    <th>送料</th>
    <th><%#= @orders.postage %></th>
  </tr>
</table>