<div class="container mx-auto">
<div class="row d-flex align-items-center my-auto justify-content-center" style="height: 80vh;">
<h1 class="text-center text-white" style="font-family: 'Kosugi Maru', sans-serif;"><strong>ご注文ありがとうございました!</strong></h1>
</div>
</div>