<div class="container mx-auto">
  <div class="row d-flex align-items-center my-auto justify-content-center" style="height: 80vh;">
    <h2 class="text-center animate six" style="font-family: 'Kosugi Maru', sans-serif; font-size: 3em;">
      <strong>
        <span>ご</span>
        <span>注</span>
        <span>文</span>
        <span>あ</span>
        <span>り</span>
        <span>が</span>
        <span>と</span>
        <span>う</span>
        <span>ご</span>
        <span>ざ</span>
        <span>い</span>
        <span>ま</span>
        <span>し</span>
        <span>た</span>
        <span>！！</span>
      </strong>
    </h2>
  </div>
</div>