<div class="container">
 <div class="row d-flex align-items-center mx-auto my-auto justify-content-center">
  <div class="col-md-10 shadow p-3 mb-5 bg-white rounded">
   <div class="container">
    <div class="text-center mt-2 mb-3 border-bottom">
     <h1 class="mb-0"><strong>ジャンル編集</strong></h1>
    </div>
   </div>
   <div class="container">
    <div class="row d-flex align-items-center">
     <div class="col-md-8 mx-auto rounded shadow-sm my-3 py-3 bg-white">
      <%= form_with model: @product_category, url: admin_product_category_path(@product_category), local:true do |f| %>
      <table class="table table-borderless">
       <tbody>
        <tr>
         <th scope="col"><strong>ジャンル名</strong></th>
         <td scope="col"><%= f.text_field :name, placeholder: "ジャンル名" %></th>
         <td scope="col"><%= f.submit "変更を保存", class: "btn btn-outline-success" %></th>
        </tr>
       </tbody>
      </table>
      <% end %>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>