/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#home {
  background-image:url(background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.jumbotron {
  background:url(top.jpg) center no-repeat;
  background-size: cover;
}

.backsize {
  width: 100vw;
  height: 100vh;
}

.slider { padding: 0;}
.slider img { width: 100%;}
.slider div { margin: 0 5px;}
.slider .slick-next { right: 17px;　z-index: 100;}
.slider .slick-prev { left: 23px; z-index: 100;}

.notice{
  color: #ffffff;
  text-align: center;
  background-color: #66ccff;
  padding: 0;
  margin: 0;
}

.alert{
  color: #ffffff;
  text-align: center;
  background-color: #ff3300;
  padding: 0;
  margin: 0;
}